@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Genrenciador de Tarefas</h1>
    
    <h5>Navegue pelo menu acima para Gerenciar suas Tarefas</h5>
</div>
